<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="fas fa-project-diagram"></i> ProjectApp
    </a>

    <div class="collapse navbar-collapse show">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.PROFILE">
            <i class="fas fa-user"></i> Profile
          </a>
        </li>
        @if (hasTeamPermission) {
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.TEAMS">
            <i class="fas fa-users"></i> Teams
          </a>
        </li>
        }
        <li class="nav-item">
          <a class="nav-link" [routerLink]="ROUTES.ABOUT">
            <i class="fas fa-info-circle"></i> About
          </a>
        </li>
        <li class="nav-item ms-auto">
          <button class="nav-link" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Log out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
